@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

::selection {
  background-color: #afd7ff;
}

html {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
}

body {
  background-color: #628db6;
  color: #fff;
  font-family: 'Montserrat-Regular';
  letter-spacing: 1px;
  margin: 0;
}

h1 {
  letter-spacing: 4px;
  text-align: center;
}

table {
  width: 100%;
}

th {
  text-align: left;
  width: 270px;
}

input {
  -webkit-app-region: no-drag;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: 0.8em;
  height: 20px;
  padding: 0 3px;
}

button {
  -webkit-app-region: no-drag;
  background-color: #628db6;
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-size: 0.6em;
  padding: 8px 20px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #3e5b76;
}

a {
  -webkit-app-region: no-drag;
}

#main {
  margin: 0 auto;
  width: 760px;
}

#setting-option {
  margin-top: 10px;
}

.setting-redmine {
  width: 350px;
}

.setting-redmine input {
  width: 340px;
}

.setting-number input {
  text-align: right;
  width: 60px;
}

.unit {
  font-size: 0.8em;
}

#test-connection-button {
  border: 2px solid #fff;
  font-size: 0.8em;
  margin-left: 5px;
  padding: 6px;
}

#save-button-area {
  font-size: 1.5em;
  margin-top: 30px;
  text-align: center;
}

#save-button {
  margin-right: 30px;
}

#new-url-button {
  border: 2px solid #fff;
  bottom: 35px;
  font-size: 0.5em;
  left: 50px;
  padding: 6px;
  position: absolute;
}

#other-urls-button {
  border: 2px solid #fff;
  bottom: 35px;
  font-size: 0.5em;
  left: 120px;
  padding: 6px;
  position: absolute;
}

#delete-link {
  bottom: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  position: absolute;
  right: 50px;
}

#notie-confirm-yes,
#notie-confirm-no,
#notie-confirm-background,
.notie-select-choice,
#notie-select-cancel,
#notie-select-background {
  -webkit-app-region: no-drag;
}

#notie-select-choices {
  font-size: 0.8em;
  max-height: 171px;
  overflow: auto;
}
